In [2]:
pwd

'/Users/pradeepvaddigadda'

In [3]:
cd /Users/pradeepvaddigadda/desktop

/Users/pradeepvaddigadda/Desktop

In [4]:
import pandas as pd
import numpy as np

In [531]:
df1=pd.read_csv('cleanedfilm_1990.csv')
df2=pd.read_csv('cleanedfilm_1991.csv')
df3=pd.read_csv('cleanedfilm_1992.csv')
df4=pd.read_csv('cleanedfilm_1993.csv')
df5=pd.read_csv('cleanedfilm_1994.csv')
df6=pd.read_csv('cleanedfilm_1995.csv')
df7=pd.read_csv('cleanedfilm_1996.csv')
df8=pd.read_csv('cleanedfilm_1997.csv')
df9=pd.read_csv('cleanedfilm_1998.csv')
df10=pd.read_csv('cleanedfilm_1999.csv')
df12=pd.read_csv('cleanedfilm_2001.csv')
df13=pd.read_csv('cleanedfilm_2002.csv')
df14=pd.read_csv('cleanedfilm_2003.csv')
df15=pd.read_csv('cleanedfilm_2004.csv')
df16=pd.read_csv('cleanedfilm_2005.csv')
df17=pd.read_csv('cleanedfilm_2006.csv')
df18=pd.read_csv('cleanedfilm_2007.csv')
df19=pd.read_csv('cleanedfilm_2008.csv')
df20=pd.read_csv('cleanedfilm_2009.csv')
df21=pd.read_csv('cleanedfilm_2010.csv')
df22=pd.read_csv('cleanedfilm_2011.csv')
df23=pd.read_csv('cleanedfilm_2012.csv')
df24=pd.read_csv('cleanedfilm_2013.csv')
df25=pd.read_csv('cleanedfilm_2014.csv')
df26=pd.read_csv('cleanedfilm_2015.csv')
df27=pd.read_csv('cleanedfilm_2016.csv')
df28=pd.read_csv('cleanedfilm_2017.csv')
df29=pd.read_csv('cleanedfilm_2018.csv')
df30=pd.read_csv('cleanedfilm_2019.csv')
df31=pd.read_csv('cleanedfilm_2020.csv')

In [532]:
df1

,Unnamed: 0,Title,Director,Cast,genre
0,1,Aaj Ka Arjun,K.C. Bokadia,"Amitabh Bachchan, Jayapradha","['Action', 'Crime', 'Drama', 'Action Crime Dra..."
1,2,Aag Ka Dariya,S.V. Rajendra Singh,"Dilip Kumar, Rekha, Padmini Kolhapure, Amrita ...","['Action', 'Action']"
2,3,Aag Ka Gola,David Dhawan,"Sunny Deol, Dimple Kapadia, Archana Puran Singh","['Action', 'Drama', 'Action Drama']"
3,4,Aaj Ke Shahenshah,Shibu Mitra,"Raj Babbar, Jeetendra, Kimi Katkar","['Action', 'Action']"
4,5,Aandhiyan,David Dhawan,"Shatrughan Sinha, Mumtaz, Prosenjit Chatterjee","['Drama', 'Drama']"
...,...,...,...,...,...
97,109,Veeru Dada,K.R. Reddy,"Dharmendra, Amrita Singh, Aditya Pancholi","['Action', 'Adventure', 'Drama', 'Action Adven..."
98,110,Wafaa,S. M. Abbas,"Farooque Shaikh, Vijayeta Pandit","['Drama', 'Mystery', 'Romance', 'Thriller', 'D..."
99,111,Zahreelay,Jyotin Goel,"Jeetendra, Sanjay Dutt, Chunky Pandey","['Action', 'Drama', 'Action Drama']"
100,112,Zakhmi Zameen,Mahendra Shah,"Ishrat Ali, Jaya Prada, Adiya Pancholi, Paresh...","['Musical', 'Action', 'Drama', 'Musical Action..."
101,113,Zimmedaaar,Santosh Kumar Chauhan,"Rajiv Kapoor, Anita Raj, Kimi Katkar","['Drama', 'Romance', 'Drama Romance']"

In [533]:
df1.drop(['Unnamed: 0'],1,inplace=True)

In [534]:
df2

,Unnamed: 0,Title,Director,Cast,genre
0,0,100 Days,Partho Ghosh,"Jackie Shroff, Madhuri Dixit, Moon Moon Sen, J...","['Thriller', 'Thriller']"
1,1,Aag Laga Do Sawan Ko,Anup Malik,Harish Patel,"['Drama', 'Romance', 'Drama Romance']"
2,2,Aaj Ka Samson,Kuku Kapoor,"Hemant Birje, Sahil Chaddha, Goga Kapoor","['Action', 'Romance', 'Action Romance']"
3,3,Aakhri Cheekh,Kiran Ramsay,"Vijay Arora, Anil Dhawan, Vijayendra Ghatge","['Horror', 'Horror']"
4,4,Afsana Pyar Ka,Shahjahan,"Aamir Khan, Neelam Kothari","['Drama', 'Romance', 'Drama Romance']"
...,...,...,...,...,...
108,108,Vishkanya,Jagmohan Mundra,"Kunal Goswami, Pooja Bedi, Kabir Bedi","['Action', 'Action']"
109,109,Vishnu-Devaa,K. Pappu,"Sunny Deol, Aditya Pancholi, Neelam Kothari","['Action', 'Crime', 'Drama', 'Romance', 'Actio..."
110,110,Yaara Dildara,Mirza Brothers,"Aashif Sheikh, Ruchika Pandey, Amjad Khan","['Romance', 'Drama', 'Family', 'Romance Drama ..."
111,111,Yeh Aag Kab Bujhegi,Sunil Dutt,"Sunil Dutt, Rekha, Kabir Bedi","['Drama', 'Drama']"
112,112,Zaher,Jyoti Swaroop,"Arjun, Iqbal Durrani, Alka Kubal","['Action', 'Crime', 'Thriller', 'Action Crime ..."

In [535]:
df2.drop(['Unnamed: 0'],1,inplace=True)

In [536]:
df=df1.append(df2,ignore_index=False)

In [537]:
df.isnull().sum()

Title       0
Director    6
Cast        1
genre       4
dtype: int64

In [538]:
df3.head(2)

,Unnamed: 0,Opening,Opening.1,Title,Director,Cast,Genre
0,0,APR,3.0,Beta,Inder Kumar,"Anil Kapoor, Madhuri Dixit, Aruna Irani, Anupa...",Drama
1,1,APR,3.0,Virodhi,Rajkumar Kohli,"Dharmendra, Armaan Kohli, Sunil Dutt, Anita Ra...",Action

In [539]:
df3.drop(['Unnamed: 0','Opening','Opening.1'],1,inplace=True)

In [540]:
df3.head()

,Title,Director,Cast,Genre
0,Beta,Inder Kumar,"Anil Kapoor, Madhuri Dixit, Aruna Irani, Anupa...",Drama
1,Virodhi,Rajkumar Kohli,"Dharmendra, Armaan Kohli, Sunil Dutt, Anita Ra...",Action
2,Sarphira,Ashok Gaekwad,"Sanjay Dutt, Sumeet Saigal, Kimi Katkar, Madhavi,",Action
3,Saatwan Aasman,Mahesh Bhatt,"Pooja Bhatt, Vivek Mushran, Shekhar Kapur, Tan...",Romance
4,Mr Bond,Raj N. Sippy,"Akshay Kumar, Sheeba Akashdeep, Pankaj Dheer, ...",Action

In [541]:
df3.rename({'Genre':'genre'}, axis=1,inplace=True)

In [542]:
df=df.append(df3,ignore_index=False)

In [543]:
df

,Title,Director,Cast,genre
0,Aaj Ka Arjun,K.C. Bokadia,"Amitabh Bachchan, Jayapradha","['Action', 'Crime', 'Drama', 'Action Crime Dra..."
1,Aag Ka Dariya,S.V. Rajendra Singh,"Dilip Kumar, Rekha, Padmini Kolhapure, Amrita ...","['Action', 'Action']"
2,Aag Ka Gola,David Dhawan,"Sunny Deol, Dimple Kapadia, Archana Puran Singh","['Action', 'Drama', 'Action Drama']"
3,Aaj Ke Shahenshah,Shibu Mitra,"Raj Babbar, Jeetendra, Kimi Katkar","['Action', 'Action']"
4,Aandhiyan,David Dhawan,"Shatrughan Sinha, Mumtaz, Prosenjit Chatterjee","['Drama', 'Drama']"
...,...,...,...,...
17,Laat Saab,Sunil Agnihotri,"Jackie Shroff, Neelam Kothari, Mohsin Khan",Suspense
18,Ek Ladka Ek Ladki,Vijay Sadanah,"Salman Khan, Neelam Kothari","Romance, Drama"
19,Kasak,K. Bapaiah,"Rishi Kapoor, Neelam Kothari, Chunky Pandey","Romance, Drama"
20,Deewana,Raj Kanwar,"Rishi Kapoor, Divya Bharti, Shahrukh Khan","Romance, Drama"
21,NaN,NaN,NaN,NaN

In [544]:
df4.head()

,Unnamed: 0,Title,Director,Cast,genre
0,0,15 August,Vicky Ranawat,"Ronit Roy, Tisca Chopra, Prem Chopra, Saeed Ja...","['Drama', 'Drama']"
1,1,Aadmi,Arshad Khan,"Mithun Chakraborty, Gauthami","['Action', 'Crime', 'Drama', 'Romance', 'Actio..."
2,2,Aadmi Khilona Hai,J. Om Prakash,"Jeetendra, Reena Roy, Govinda, Meenakshi Seshadri","['Drama', 'Romance', 'Drama Romance']"
3,3,Aag Ka Toofan,Kanti Mehta,"Shashi Kapoor, Dharmendra, Farheen, Ravi Kishen","['Action', 'Action']"
4,4,Aaina,Deepak Sareen,"Jackie Shroff, Juhi Chawla, Amrita Singh","['Drama', 'Romance', 'Drama Romance']"

In [545]:
df4.drop(['Unnamed: 0'],1,inplace=True)

In [546]:
df=df.append(df4,ignore_index=False)

In [547]:
df

,Title,Director,Cast,genre
0,Aaj Ka Arjun,K.C. Bokadia,"Amitabh Bachchan, Jayapradha","['Action', 'Crime', 'Drama', 'Action Crime Dra..."
1,Aag Ka Dariya,S.V. Rajendra Singh,"Dilip Kumar, Rekha, Padmini Kolhapure, Amrita ...","['Action', 'Action']"
2,Aag Ka Gola,David Dhawan,"Sunny Deol, Dimple Kapadia, Archana Puran Singh","['Action', 'Drama', 'Action Drama']"
3,Aaj Ke Shahenshah,Shibu Mitra,"Raj Babbar, Jeetendra, Kimi Katkar","['Action', 'Action']"
4,Aandhiyan,David Dhawan,"Shatrughan Sinha, Mumtaz, Prosenjit Chatterjee","['Drama', 'Drama']"
...,...,...,...,...
98,Veerta,Shibu Mitra,"Prasenjit Chatterjee, Prem Chopra, Sunny Deol","['Action', 'Action']"
99,Waqt Hamara Hai,Bharat Rangachary,"Akshay Kumar, Sunil Shetty, Ayesha Jhulka, Mam...","['Action', 'Comedy', 'Romance', 'Thriller', 'A..."
100,Yugandhar,N. Chandra,"Mithun Chakraborty, Kabir Bedi, Sangeeta Bijlani","['Action', 'Crime', 'Drama', 'Action Crime Dra..."
101,Zakhmi Rooh,Pawan Kumar,"Moon Moon Sen, Javed Jaffrey, Raj Kiran","['Horror', 'Horror']"
102,Zakhmo Ka Hisaab,Talukdaars,"Govinda, Farah Naaz, Kiran Kumar","['Action', 'Crime', 'Drama', 'Action Crime Dra..."

In [548]:
df5

,Unnamed: 0,Title,Director,Cast,genre
0,0,1942: A Love Story,Vidhu Vinod Chopra,"Anil Kapoor, Manisha Koirala, Jackie Shroff, A...","['Romance', 'Action', 'Drama', 'Musical', 'Rom..."
1,1,Aa Gale Lag Jaa,Hamid Ali Khan,"Jugal Hansraj, Urmila Matondkar, Ajit Khan, Is...","['Action', 'Drama', 'Romance', 'Action Drama R..."
2,2,Aag,K. Ravi Shankar,"Shilpa Shetty, Govinda, Sonali Bendre","['Action', 'Comedy', 'Drama', 'Music', 'Action..."
3,4,Aag Aur Chingari,Kanti Shah,"Asrani, Shakti Kapoor, Ravi Kishan","['Action', 'Action']"
4,7,Aao Pyaar Karen,Ravendra Peepat,"Saif Ali Khan, Shilpa Shetty, Somy Ali","['Romance', 'Romance']"
...,...,...,...,...,...
88,101,Yuhi Kabhi,Kumar Bhatia,"Tinnu Anand, Master Bhagwan, Kumar Bhatia","['Comedy', 'Drama', 'Comedy Drama']"
89,102,Zaalim,Sikander Bharti,"Akshay Kumar, Madhoo","['Action', 'Drama', 'Action Drama']"
90,103,Zakhmi Dil,Raju Subramanian,"Akshay Kumar, Ashwini Bhave, Ravi Kishan","['Action', 'Drama', 'Romance', 'Action Drama R..."
91,104,Zamane Se Kya Darna,Bobby Raj,"Sanjay Dutt, Raveena Tandon, Alok Nath","['Action', 'Drama', 'Romance', 'Action Drama R..."
92,105,Zid,Esmayeel Shroff,"Jay Mehta, Raageshwari, Mala Sinha","['Crime', 'Thriller', 'Crime Thriller']"

In [549]:
df5.drop(['Unnamed: 0'],1,inplace=True)

In [550]:
df=df.append(df5,ignore_index=False)

In [551]:
df.head(2)

,Title,Director,Cast,genre
0,Aaj Ka Arjun,K.C. Bokadia,"Amitabh Bachchan, Jayapradha","['Action', 'Crime', 'Drama', 'Action Crime Dra..."
1,Aag Ka Dariya,S.V. Rajendra Singh,"Dilip Kumar, Rekha, Padmini Kolhapure, Amrita ...","['Action', 'Action']"

In [552]:
df6.head()

,Unnamed: 0,Opening,Opening.1,Title,Director,Cast,Genre
0,0,OCT,6.0,Barsaat,Rajkumar Santoshi,"Bobby Deol, Twinkle Khanna, Mukesh Khanna",Romance
1,1,OCT,20.0,Dilwale Dulhania Le Jayenge,Aditya Chopra,"Shahrukh Khan, Kajol, Amrish Puri, Farida Jala...",Romance
2,2,OCT,20.0,Yaraana,David Dhawan,"Rishi Kapoor, Madhuri Dixit, Raj Babbar, Kader...",Romance
3,3,OCT,27.0,Hum Sab Chor Hain,Ambrish Sangal,"Kamal Sadanah, Dharmendra, Jeetendra, Ritu Shi...",Action
4,4,NOV,10.0,Ram Shastra,Sanjay Gupta,"Jackie Shroff, Manisha Koirala, Dipti Bhatnagar",Action

In [553]:
df6.drop(['Unnamed: 0','Opening','Opening.1'],axis=1,inplace=True)

In [554]:
df6.rename({'Genre':'genre'}, axis=1,inplace=True)

In [555]:
df=df.append(df6,ignore_index=False)

In [556]:
df.head()

,Title,Director,Cast,genre
0,Aaj Ka Arjun,K.C. Bokadia,"Amitabh Bachchan, Jayapradha","['Action', 'Crime', 'Drama', 'Action Crime Dra..."
1,Aag Ka Dariya,S.V. Rajendra Singh,"Dilip Kumar, Rekha, Padmini Kolhapure, Amrita ...","['Action', 'Action']"
2,Aag Ka Gola,David Dhawan,"Sunny Deol, Dimple Kapadia, Archana Puran Singh","['Action', 'Drama', 'Action Drama']"
3,Aaj Ke Shahenshah,Shibu Mitra,"Raj Babbar, Jeetendra, Kimi Katkar","['Action', 'Action']"
4,Aandhiyan,David Dhawan,"Shatrughan Sinha, Mumtaz, Prosenjit Chatterjee","['Drama', 'Drama']"

In [557]:
df7.head()

,Unnamed: 0,Title,Director,Cast,genre
0,0,Aatank,Prem Lalwani,"Dharmendra, Girish Karnad, Nafisa Ali, Hema Ma...","['Action', 'Thriller', 'Action Thriller']"
1,1,Agni Sakshi,Partho Ghosh,"Jackie Shroff, Nana Patekar, Manisha Koirala","['Drama', 'Musical', 'Romance', 'Thriller', 'D..."
2,2,Aisi Bhi Kya Jaldi Hai,Sachin Pilgaonkar,"Sachin Pilgaonkar, Vivek Mushran, Ashok Saraf,...","['Comedy', 'Romance', 'Comedy Romance']"
3,3,Ajay,Suneel Darshan,"Sunny Deol, Karishma Kapoor, Reena Roy, Sharat...","['Action', 'Drama', 'Romance', 'Action Drama R..."
4,4,Angaara,Anil Ganguly,"Sadashiv Amrapurkar, Suresh Bhagwat, Hemant Birje","['Action', 'Crime', 'Action Crime']"

In [558]:
df7.drop(['Unnamed: 0'],axis=1,inplace=True)

In [559]:
df=df.append(df7,ignore_index=False)

In [560]:
df8.head(2)

,Unnamed: 0,Title,Director,Cast,genre
0,0,Aar Ya Paar,Ketan Mehta,"Jackie Shroff, Deepa Sahi","['Thriller', 'Thriller']"
1,1,Aastha: In the Prison of Spring,Basu Bhattacharyya,"Rekha, Om Puri","['Drama', 'Drama']"

In [561]:
df8.drop(['Unnamed: 0'],axis=1,inplace=True)

In [562]:
df9.head()

,Unnamed: 0,Title,Director,Cast,Genre
0,1,2001: Do Hazaar Ek,Raj N. Sippy,"Jackie Shroff, Dimple Kapadia, Tabu","Crime, Drama, Mystery"
1,2,Aakrosh,Lateef Binny,"Sunil Shetty, Shilpa Shetty","Action, Crime, Drama, Thriller"
2,3,Achanak,Naresh Malhotra,"Govinda, Manisha Koirala, Paresh Rawal",Drama
3,4,Aunty No. 1,Kirti Kumar,"Govinda, Raveena Tandon, Kader Khan, Harish Kumar",Comedy
4,5,Bade Miyan Chote Miyan,David Dhawan,"Amitabh Bachchan, Govinda, Raveena Tandon, Ram...",Comedy

In [563]:
df9.drop(['Unnamed: 0'],axis=1,inplace=True)
df9.rename({'Genre':'genre'}, axis=1,inplace=True)

In [564]:
df10.head(1)

,Unnamed: 0,Title,Director,Cast,Genre
0,0,Aa Ab Laut Chalen,Rishi Kapoor,"Rajesh Khanna, Akshaye Khanna, Aishwarya Rai, ...","Romance, Drama,"

In [565]:
df10.drop(['Unnamed: 0'],axis=1,inplace=True)
df10.rename({'Genre':'genre'}, axis=1,inplace=True)

In [566]:
df12

,Unnamed: 0,Title,Director,Cast,Genre
0,0,Abhay,Suresh Krissna,"Kamal Hassan, Manisha Koirala, Raveena Tandon",Thriller
1,1,Aamdani Atthanni Kharcha Rupaiya,K. Raghavendra Rao,"Govinda, Juhi Chawla, Johnny Lever, Tabu, Isha...",Family Drama
2,2,Aashiq,Indra Kumar,"Bobby Deol, Karisma Kapoor",Action Comedy
3,3,Ajnabee,Abbas Mustan,"Bobby Deol, Akshay Kumar, Kareena Kapoor, Bipa...","Thriller, Suspense, Crime"
4,4,Aks,Rakeysh Omprakash Mehra,"Amitabh Bachchan, Raveena Tandon, Manoj Bajpai...","Thriller, Horror"
...,...,...,...,...,...
58,58,Yaadein,Subhash Ghai,"Hrithik Roshan, Kareena Kapoor, Jackie Shroff,...","Romance, Drama"
59,59,Yeh Raaste Hain Pyaar Ke,Deepak S. Shivdasani,"Ajay Devgan, Madhuri Dixit, Preity Zinta, Sunn...",Drama
60,60,Yeh Teraa Ghar Yeh Meraa Ghar,Priyadarshan,"Suniel Shetty, Mahima Chaudhry",Drama
61,61,Yeh Zindagi Ka Safar,Tanuja Chandra,"Amisha Patel, Jimmy Sheirgill",NaN
62,62,Zubeidaa,Shyam Benegal,"Karisma Kapoor, Rekha, Manoj Bajpai, Amrish Pu...",Drama

In [567]:
df12.drop(['Unnamed: 0'],axis=1,inplace=True)
df12.rename({'Genre':'genre'}, axis=1,inplace=True)

In [568]:
df=df.append(df8.append(df9.append(df10,ignore_index=True),ignore_index=True),ignore_index=True)

In [569]:
df
#df.append(df12,ignore_index=False)

,Title,Director,Cast,genre
0,Aaj Ka Arjun,K.C. Bokadia,"Amitabh Bachchan, Jayapradha","['Action', 'Crime', 'Drama', 'Action Crime Dra..."
1,Aag Ka Dariya,S.V. Rajendra Singh,"Dilip Kumar, Rekha, Padmini Kolhapure, Amrita ...","['Action', 'Action']"
2,Aag Ka Gola,David Dhawan,"Sunny Deol, Dimple Kapadia, Archana Puran Singh","['Action', 'Drama', 'Action Drama']"
3,Aaj Ke Shahenshah,Shibu Mitra,"Raj Babbar, Jeetendra, Kimi Katkar","['Action', 'Action']"
4,Aandhiyan,David Dhawan,"Shatrughan Sinha, Mumtaz, Prosenjit Chatterjee","['Drama', 'Drama']"
...,...,...,...,...
756,Thakshak,Govind Nihlani,"Ajay Devgn, Tabu, Rahul Bose, Amrish Puri",Drama
757,Trishakti,Madhur Bhandarkar,"Sadashiv Amrapurkar, Milind Gunaji, Jatin Kanakia",Action
758,Vaastav: The Reality,Mahesh Manjrekar,"Sanjay Dutt, Namrata Shirodkar","Crime, Drama"
759,Yeh Hai Mumbai Meri Jaan,Mahesh Bhatt,"Saif Ali Khan, Twinkle Khanna",Action
760,Zulmi,Sandesh Kohli,"Akshay Kumar, Twinkle Khanna","Action, Romance"

In [570]:
df=df.append(df12,ignore_index=False)

In [571]:
df

,Title,Director,Cast,genre
0,Aaj Ka Arjun,K.C. Bokadia,"Amitabh Bachchan, Jayapradha","['Action', 'Crime', 'Drama', 'Action Crime Dra..."
1,Aag Ka Dariya,S.V. Rajendra Singh,"Dilip Kumar, Rekha, Padmini Kolhapure, Amrita ...","['Action', 'Action']"
2,Aag Ka Gola,David Dhawan,"Sunny Deol, Dimple Kapadia, Archana Puran Singh","['Action', 'Drama', 'Action Drama']"
3,Aaj Ke Shahenshah,Shibu Mitra,"Raj Babbar, Jeetendra, Kimi Katkar","['Action', 'Action']"
4,Aandhiyan,David Dhawan,"Shatrughan Sinha, Mumtaz, Prosenjit Chatterjee","['Drama', 'Drama']"
...,...,...,...,...
58,Yaadein,Subhash Ghai,"Hrithik Roshan, Kareena Kapoor, Jackie Shroff,...","Romance, Drama"
59,Yeh Raaste Hain Pyaar Ke,Deepak S. Shivdasani,"Ajay Devgan, Madhuri Dixit, Preity Zinta, Sunn...",Drama
60,Yeh Teraa Ghar Yeh Meraa Ghar,Priyadarshan,"Suniel Shetty, Mahima Chaudhry",Drama
61,Yeh Zindagi Ka Safar,Tanuja Chandra,"Amisha Patel, Jimmy Sheirgill",NaN
62,Zubeidaa,Shyam Benegal,"Karisma Kapoor, Rekha, Manoj Bajpai, Amrish Pu...",Drama

In [572]:
df13
#df14.head()

,Unnamed: 0,Title,Cast,director,genre
0,0,16 December,"Milind Soman, Dipannita Sharma, Gulshan Grover...",['Mani Shankar'],"['Action', 'Thriller', 'Action Thriller']"
1,1,23rd March 1931: Shaheed,"Sunny Deol, Bobby Deol, Divya Dutta, Amrita Singh",['Guddu Dhanoa'],"['Biography', 'Drama', 'History', 'Biography D..."
2,2,Aankhen,"Amitabh Bachchan, Akshay Kumar, Paresh Rawal, ...",['Vipul Amrutlal Shah'],"['Crime', 'Drama', 'Thriller', 'Crime Drama Th..."
3,3,Aap Mujhe Achche Lagne Lage,"Hrithik Roshan, Amisha Patel",['Vikram Bhatt'],"['Action', 'Drama', 'Romance', 'Action Drama R..."
4,4,Ab Ke Baras,"Amrita Rao, Arya Babbar, Ashish Vidyarthi",['Raj Kanwar'],"['Action', 'Romance', 'Thriller', 'Action Roma..."
...,...,...,...,...,...
63,77,Yeh Dil Aashiqanaa,"Karan Nath, Jividha Sharma",['Kuku Kohli'],"['Action', 'Romance', 'Action Romance']"
64,78,Yeh Hai Jalwa,"Rishi Kapoor, Salman Khan, Amisha Patel, Rinke...",['David Dhawan'],"['Comedy', 'Drama', 'Romance', 'Comedy Drama R..."
65,80,Yeh Kya Ho Raha Hai?,"Prashant Chianani, Aamir Ali, Vaibhav Jhalani,...",['Hansal Mehta'],"['Comedy', 'Romance', 'Comedy Romance']"
66,81,Yeh Mohabbat Hai,"Rahul Bhatt, Johnny Lever",['Umesh Mehra'],"['Action', 'Romance', 'Action Romance']"
67,82,Zindagi Khoobsoorat Hai,"Gurdas Maan, Tabu, Divya Dutta, Rajat Kapoor",['Kajal Naskar Manoj Punj'],"['Drama', 'Family', 'Drama Family']"

In [573]:
df13.drop(['Unnamed: 0'],axis=1,inplace=True)

In [574]:
df13.rename({'director':'Director'}, axis=1,inplace=True)

In [575]:
df13

,Title,Cast,Director,genre
0,16 December,"Milind Soman, Dipannita Sharma, Gulshan Grover...",['Mani Shankar'],"['Action', 'Thriller', 'Action Thriller']"
1,23rd March 1931: Shaheed,"Sunny Deol, Bobby Deol, Divya Dutta, Amrita Singh",['Guddu Dhanoa'],"['Biography', 'Drama', 'History', 'Biography D..."
2,Aankhen,"Amitabh Bachchan, Akshay Kumar, Paresh Rawal, ...",['Vipul Amrutlal Shah'],"['Crime', 'Drama', 'Thriller', 'Crime Drama Th..."
3,Aap Mujhe Achche Lagne Lage,"Hrithik Roshan, Amisha Patel",['Vikram Bhatt'],"['Action', 'Drama', 'Romance', 'Action Drama R..."
4,Ab Ke Baras,"Amrita Rao, Arya Babbar, Ashish Vidyarthi",['Raj Kanwar'],"['Action', 'Romance', 'Thriller', 'Action Roma..."
...,...,...,...,...
63,Yeh Dil Aashiqanaa,"Karan Nath, Jividha Sharma",['Kuku Kohli'],"['Action', 'Romance', 'Action Romance']"
64,Yeh Hai Jalwa,"Rishi Kapoor, Salman Khan, Amisha Patel, Rinke...",['David Dhawan'],"['Comedy', 'Drama', 'Romance', 'Comedy Drama R..."
65,Yeh Kya Ho Raha Hai?,"Prashant Chianani, Aamir Ali, Vaibhav Jhalani,...",['Hansal Mehta'],"['Comedy', 'Romance', 'Comedy Romance']"
66,Yeh Mohabbat Hai,"Rahul Bhatt, Johnny Lever",['Umesh Mehra'],"['Action', 'Romance', 'Action Romance']"
67,Zindagi Khoobsoorat Hai,"Gurdas Maan, Tabu, Divya Dutta, Rajat Kapoor",['Kajal Naskar Manoj Punj'],"['Drama', 'Family', 'Drama Family']"

In [576]:
df=df.append(df13,ignore_index=False)

In [577]:
df

,Title,Director,Cast,genre
0,Aaj Ka Arjun,K.C. Bokadia,"Amitabh Bachchan, Jayapradha","['Action', 'Crime', 'Drama', 'Action Crime Dra..."
1,Aag Ka Dariya,S.V. Rajendra Singh,"Dilip Kumar, Rekha, Padmini Kolhapure, Amrita ...","['Action', 'Action']"
2,Aag Ka Gola,David Dhawan,"Sunny Deol, Dimple Kapadia, Archana Puran Singh","['Action', 'Drama', 'Action Drama']"
3,Aaj Ke Shahenshah,Shibu Mitra,"Raj Babbar, Jeetendra, Kimi Katkar","['Action', 'Action']"
4,Aandhiyan,David Dhawan,"Shatrughan Sinha, Mumtaz, Prosenjit Chatterjee","['Drama', 'Drama']"
...,...,...,...,...
63,Yeh Dil Aashiqanaa,['Kuku Kohli'],"Karan Nath, Jividha Sharma","['Action', 'Romance', 'Action Romance']"
64,Yeh Hai Jalwa,['David Dhawan'],"Rishi Kapoor, Salman Khan, Amisha Patel, Rinke...","['Comedy', 'Drama', 'Romance', 'Comedy Drama R..."
65,Yeh Kya Ho Raha Hai?,['Hansal Mehta'],"Prashant Chianani, Aamir Ali, Vaibhav Jhalani,...","['Comedy', 'Romance', 'Comedy Romance']"
66,Yeh Mohabbat Hai,['Umesh Mehra'],"Rahul Bhatt, Johnny Lever","['Action', 'Romance', 'Action Romance']"
67,Zindagi Khoobsoorat Hai,['Kajal Naskar Manoj Punj'],"Gurdas Maan, Tabu, Divya Dutta, Rajat Kapoor","['Drama', 'Family', 'Drama Family']"

In [578]:
#df.drop(['director'],1,inplace=True)

In [579]:
df14

,Unnamed: 0,Title,Cast,genre,director
0,0,3 Deewarein,"Naseeruddin Shah, Jackie Shroff, Juhi Chawla","['Crime', 'Drama', 'Crime Drama']",['Nagesh Kukunoor']
1,1,88 Antop Hill,"Rahul Dev, Shweta Menon, Atul Kulkarni","['Mystery', 'Thriller', 'Mystery Thriller']",['Kushan Nandy']
2,2,Aaj Ka Andha Kanoon,Sudesh Berry,"['Action', 'Action']",['Amit Chandra Sahay']
3,3,Aanch,"Nana Patekar, Paresh Rawal","['Drama', 'Drama']",['Rajesh Ram Singh']
4,4,Aapko Pehle Bhi Kahin Dekha Hai,"Priyanshu Chatterji, Sakshi Shivanand, Om Puri...","['Action', 'Comedy', 'Drama', 'Musical', 'Roma...",['Anubhav Sinha']
...,...,...,...,...,...
113,122,Tujhe Meri Kasam,"Riteish Deshmukh, Genelia D'Souza","['Romance', 'Romance']",['Vijay K. Bhaskar']
114,125,Waisa Bhi Hota Hai Part II,"Arshad Warsi, Sandhya Mridul, Prashant Narayanan","['Comedy', 'Crime', 'Drama', 'Comedy Crime Dra...",['Shashanka Ghosh']
115,126,Xcuse Me,"Sahil Khan, Sharman Joshi, Payal Rohatgi","['Comedy', 'Comedy']",['N. Chandra']
116,127,Yeh Dil,"Tusshar Kapoor, Natassha","['Drama', 'Romance', 'Drama Romance']",['Teja']
117,128,Zameen,"Ajay Devgn, Abhishek Bachchan, Bipasha Basu","['Action', 'Adventure', 'Thriller', 'Action Ad...",['Rohit Shetty']

In [580]:
df14.drop(['Unnamed: 0'],axis=1,inplace=True)

In [581]:
df14.rename({'director':'Director'}, axis=1,inplace=True)

In [582]:
df14

,Title,Cast,genre,Director
0,3 Deewarein,"Naseeruddin Shah, Jackie Shroff, Juhi Chawla","['Crime', 'Drama', 'Crime Drama']",['Nagesh Kukunoor']
1,88 Antop Hill,"Rahul Dev, Shweta Menon, Atul Kulkarni","['Mystery', 'Thriller', 'Mystery Thriller']",['Kushan Nandy']
2,Aaj Ka Andha Kanoon,Sudesh Berry,"['Action', 'Action']",['Amit Chandra Sahay']
3,Aanch,"Nana Patekar, Paresh Rawal","['Drama', 'Drama']",['Rajesh Ram Singh']
4,Aapko Pehle Bhi Kahin Dekha Hai,"Priyanshu Chatterji, Sakshi Shivanand, Om Puri...","['Action', 'Comedy', 'Drama', 'Musical', 'Roma...",['Anubhav Sinha']
...,...,...,...,...
113,Tujhe Meri Kasam,"Riteish Deshmukh, Genelia D'Souza","['Romance', 'Romance']",['Vijay K. Bhaskar']
114,Waisa Bhi Hota Hai Part II,"Arshad Warsi, Sandhya Mridul, Prashant Narayanan","['Comedy', 'Crime', 'Drama', 'Comedy Crime Dra...",['Shashanka Ghosh']
115,Xcuse Me,"Sahil Khan, Sharman Joshi, Payal Rohatgi","['Comedy', 'Comedy']",['N. Chandra']
116,Yeh Dil,"Tusshar Kapoor, Natassha","['Drama', 'Romance', 'Drama Romance']",['Teja']
117,Zameen,"Ajay Devgn, Abhishek Bachchan, Bipasha Basu","['Action', 'Adventure', 'Thriller', 'Action Ad...",['Rohit Shetty']

In [583]:
df15

,Unnamed: 0,Title,Director,Cast,Genre
0,0,Aabra Ka Daabra,Dheeraj Kumar,"Hansika Motwani, Shweta Tiwari, Vishal Lalwani...",Fantasy
1,1,Aan: Men at Work,Madhur Bhandarkar,"Akshay Kumar, Sunil Shetty, Shatrughan Sinha, ...",Action
2,2,Ab... Bas!,Rajesh Kumar Singh,"Shawar Ali, Rohit Roy, Diana Hayden",Adult
3,3,Ab Tumhare Hawale Watan Saathiyo,Anil Sharma,"Amitabh Bachchan, Akshay Kumar, Bobby Deol, Di...","War, Drama"
4,4,Aetbaar,Vikram Bhatt,"Amitabh Bachchan, Bipasha Basu, John Abraham",Thriller
...,...,...,...,...,...
92,92,Where's the Party Yaar?,Benny Mathews,"Diwakar Pathak, Sunil Malhotra",Comedy
93,93,Woh,Raj N. Sippy,"Priyanshu Chatterjee, Cleo Issacs, Shahbaz Khan",Thriller
94,94,Yeh Lamhe Judaai Ke,Birendra Nath Tiwary,"Shahrukh Khan, Raveena Tandon",Drama
95,95,Yehi Hai Zindagi,Ajay Phansekar,"Gracy Singh, Sahil Khan, Parvin Dabbas",Drama
96,96,Yuva,Mani Ratnam,"Ajay Devgn, Abhishek Bachchan, Vivek Oberoi, K...","Drama, Action"

In [584]:
df15.drop(['Unnamed: 0'],axis=1,inplace=True)

In [585]:
df15.rename({'Genre':'genre'}, axis=1,inplace=True)

In [586]:
df16

,Unnamed: 0,Title,Cast,director,genre
0,0,7Â½ Phere,"Juhi Chawla, Irrfan Khan",['Barry Levinson'],"['Action', 'Mystery', 'Sci-Fi', 'Thriller', 'A..."
1,1,"99.9 FM,","Shawar Ali, Raima Sen, Dipannita Sharma",['Sanjay Bhatia'],"['Crime', 'Drama', 'Crime Drama']"
2,2,Aashiq Banaya Aapne,"Emraan Hashmi, Tanushree Dutta, Sonu Sood",['Aditya Datt'],"['Drama', 'Romance', 'Thriller', 'Drama Romanc..."
3,3,Amavas,"Sachiin Joshi,Nargis Fakhri,Vivan Bhatena",['Bhushan Patel'],"['Horror', 'Thriller', 'Horror Thriller']"
4,4,Anjaane,"Manisha Koirala, Sanjay Kapoor",['Ravi Rai'],"['Drama', 'Drama']"
...,...,...,...,...,...
119,119,Waqt: The Race Against Time,"Amitabh Bachchan, Akshay Kumar, Shefali Shah, ...",['Vipul Amrutlal Shah'],"['Comedy', 'Drama', 'Family', 'Musical', 'Roma..."
120,120,Yahaan,"Jimmy Shergill, Minissha Lamba",['Satavisha Bose Cyrus Khambata Satavisha Bose...,"['Adventure', 'Comedy', 'Drama', 'Adventure Co..."
121,121,Yakeen,"Arjun Rampal, Priyanka Chopra, Kim Sharma",['Girish Dhamija'],"['Drama', 'Thriller', 'Drama Thriller']"
122,122,Zameer: The Fire Within,"Ajay Devgn, Ameesha Patel, Mahima Chaudhry",Kamal,"Drama,Romance"
123,123,Zeher,"Shamita Shetty, Emraan Hashmi, Udita Goswami",['Mohit Suri'],"['Crime', 'Drama', 'Mystery', 'Thriller', 'Cri..."

In [587]:
df16.drop(['Unnamed: 0'],axis=1,inplace=True)

In [588]:
df16.rename({'director':'Director'}, axis=1,inplace=True)

In [589]:
df=df.append(df14.append(df15.append(df16,ignore_index=True),ignore_index=True),ignore_index=True)

In [590]:
df

,Title,Director,Cast,genre
0,Aaj Ka Arjun,K.C. Bokadia,"Amitabh Bachchan, Jayapradha","['Action', 'Crime', 'Drama', 'Action Crime Dra..."
1,Aag Ka Dariya,S.V. Rajendra Singh,"Dilip Kumar, Rekha, Padmini Kolhapure, Amrita ...","['Action', 'Action']"
2,Aag Ka Gola,David Dhawan,"Sunny Deol, Dimple Kapadia, Archana Puran Singh","['Action', 'Drama', 'Action Drama']"
3,Aaj Ke Shahenshah,Shibu Mitra,"Raj Babbar, Jeetendra, Kimi Katkar","['Action', 'Action']"
4,Aandhiyan,David Dhawan,"Shatrughan Sinha, Mumtaz, Prosenjit Chatterjee","['Drama', 'Drama']"
...,...,...,...,...
1226,Waqt: The Race Against Time,['Vipul Amrutlal Shah'],"Amitabh Bachchan, Akshay Kumar, Shefali Shah, ...","['Comedy', 'Drama', 'Family', 'Musical', 'Roma..."
1227,Yahaan,['Satavisha Bose Cyrus Khambata Satavisha Bose...,"Jimmy Shergill, Minissha Lamba","['Adventure', 'Comedy', 'Drama', 'Adventure Co..."
1228,Yakeen,['Girish Dhamija'],"Arjun Rampal, Priyanka Chopra, Kim Sharma","['Drama', 'Thriller', 'Drama Thriller']"
1229,Zameer: The Fire Within,Kamal,"Ajay Devgn, Ameesha Patel, Mahima Chaudhry","Drama,Romance"
1230,Zeher,['Mohit Suri'],"Shamita Shetty, Emraan Hashmi, Udita Goswami","['Crime', 'Drama', 'Mystery', 'Thriller', 'Cri..."

In [591]:
df.shape

(1231, 4)

In [592]:
df17

,Unnamed: 0,Title,Cast,director,genre
0,0,36 China Town,"Kareena Kapoor, Shahid Kapoor, Akshaye Khanna,...",['Abbas Alibhai Burmawalla Mastan Alibhai Burm...,"['Comedy', 'Mystery', 'Thriller', 'Comedy Myst..."
1,1,Aap Ki Khatir,"Sunil Shetty, Akshaye Khanna, Dino Morea, Amis...",['Dharmesh Darshan'],"['Comedy', 'Romance', 'Comedy Romance']"
2,2,Aatma,"Kapil Jhaveri, Neha",['Suparn Verma'],"['Drama', 'Horror', 'Thriller', 'Drama Horror ..."
3,3,Adharm,"Rahul Dev, Sonali Kulkarni",['Aziz Sejawal'],"['Action', 'Crime', 'Drama', 'Action Crime Dra..."
4,4,Ahista Ahista,"Abhay Deol, Soha Ali Khan",['Shivam Nair'],"['Drama', 'Romance', 'Drama Romance']"
...,...,...,...,...,...
101,101,Waris Shah: Ishq Daa Waaris,"Gurdas Mann, Juhi Chawla, Divya Dutta",['Manoj Punj'],"['Drama', 'History', 'Drama History']"
102,102,Woh Lamhe...,"Shiney Ahuja, Kangana Ranaut",['Mohit Suri'],"['Biography', 'Drama', 'Romance', 'Biography D..."
103,103,Yun Hota Toh Kya Hota,"Ayesha Takia, Konkona Sen Sharma, Paresh Rawal",['Naseeruddin Shah'],"['Drama', 'Drama']"
104,104,Zinda,"Sanjay Dutt, John Abraham, Lara Dutta, Celina ...",['Sanjay Gupta'],"['Action', 'Drama', 'Mystery', 'Thriller', 'Ac..."
105,105,Zindaggi Rocks,"Sushmita Sen, Shiney Ahuja",['Tanuja Chandra'],"['Drama', 'Romance', 'Drama Romance']"

In [593]:
df17.rename({'director':'Director'}, axis=1,inplace=True)

In [594]:
df17.drop(['Unnamed: 0'],axis=1,inplace=True)

In [595]:
df=df.append(df17,ignore_index=True)

In [596]:
df.shape

(1337, 4)

In [597]:
#1971	Amrit Sagar	Manoj Bajpai, Ravi Kishan	War

In [598]:
df18.head(10)

,1971,Amrit Sagar,"Manoj Bajpai, Ravi Kishan",War
0,50 Lakh,Chandra Sekhar Yeleti,"Pawan Malhotra, Mohit Chadda","Comedy,Thriller"
1,68 Pages,Sridhar Rangayan,"Mouli Ganguly, Joy Sengupta, Jayati Bhatia",Drama
2,Aag,Ram Gopal Varma,"Amitabh Bachchan, Ajay Devgn, Sushmita Sen, Ni...","Action, Thriller"
3,Aaja Nachle,Anil Mehta,"Madhuri Dixit, Akshaye Khanna, Kunal Kapoor, K...",Musical
4,Aap Kaa Surroor,Prashant Chadda,"Himesh Reshammiya, Hansika Motwani, Mallika Sh...","Drama, Thriller, Romance"
5,Aggar,Anant Mahadevan,"Shreyas Talpade, Tushar Kapoor, Udita Goswami","Drama, Thriller"
6,Anjaam,Anant Mahadevan,"Emraan Hashmi, Tusshar Kapoor",Thriller
7,Anwar,Manish Jha,"Siddharth Koirala, Rajpal Yadav, Nauheed Cyrusi",Drama
8,Apna Asmaan,Kaushik Roy,"Irrfan Khan, Shobana","Drama,Sci-Fi"
9,Apne,Anil Sharma,"Dharmendra, Sunny Deol, Bobby Deol, Shilpa She...","Family, Drama, Sports"

In [599]:
df17.rename({'1971':'Title','Amrit Sagar':'director','Manoj Bajpai, Ravi Kishan':'Cast','War':'genre'}, axis=1,inplace=True)

In [600]:
df17

,Title,Cast,Director,genre
0,36 China Town,"Kareena Kapoor, Shahid Kapoor, Akshaye Khanna,...",['Abbas Alibhai Burmawalla Mastan Alibhai Burm...,"['Comedy', 'Mystery', 'Thriller', 'Comedy Myst..."
1,Aap Ki Khatir,"Sunil Shetty, Akshaye Khanna, Dino Morea, Amis...",['Dharmesh Darshan'],"['Comedy', 'Romance', 'Comedy Romance']"
2,Aatma,"Kapil Jhaveri, Neha",['Suparn Verma'],"['Drama', 'Horror', 'Thriller', 'Drama Horror ..."
3,Adharm,"Rahul Dev, Sonali Kulkarni",['Aziz Sejawal'],"['Action', 'Crime', 'Drama', 'Action Crime Dra..."
4,Ahista Ahista,"Abhay Deol, Soha Ali Khan",['Shivam Nair'],"['Drama', 'Romance', 'Drama Romance']"
...,...,...,...,...
101,Waris Shah: Ishq Daa Waaris,"Gurdas Mann, Juhi Chawla, Divya Dutta",['Manoj Punj'],"['Drama', 'History', 'Drama History']"
102,Woh Lamhe...,"Shiney Ahuja, Kangana Ranaut",['Mohit Suri'],"['Biography', 'Drama', 'Romance', 'Biography D..."
103,Yun Hota Toh Kya Hota,"Ayesha Takia, Konkona Sen Sharma, Paresh Rawal",['Naseeruddin Shah'],"['Drama', 'Drama']"
104,Zinda,"Sanjay Dutt, John Abraham, Lara Dutta, Celina ...",['Sanjay Gupta'],"['Action', 'Drama', 'Mystery', 'Thriller', 'Ac..."
105,Zindaggi Rocks,"Sushmita Sen, Shiney Ahuja",['Tanuja Chandra'],"['Drama', 'Romance', 'Drama Romance']"

In [601]:
#a_row = pd.Series([1971,Amrit Sagar,Manoj Bajpai Ravi Kishan,War])

In [602]:
df17.loc[106] = np.array([1971,'Amrit Sagar','Manoj Bajpai Ravi Kishan','War'])

In [603]:
df17

,Title,Cast,Director,genre
0,36 China Town,"Kareena Kapoor, Shahid Kapoor, Akshaye Khanna,...",['Abbas Alibhai Burmawalla Mastan Alibhai Burm...,"['Comedy', 'Mystery', 'Thriller', 'Comedy Myst..."
1,Aap Ki Khatir,"Sunil Shetty, Akshaye Khanna, Dino Morea, Amis...",['Dharmesh Darshan'],"['Comedy', 'Romance', 'Comedy Romance']"
2,Aatma,"Kapil Jhaveri, Neha",['Suparn Verma'],"['Drama', 'Horror', 'Thriller', 'Drama Horror ..."
3,Adharm,"Rahul Dev, Sonali Kulkarni",['Aziz Sejawal'],"['Action', 'Crime', 'Drama', 'Action Crime Dra..."
4,Ahista Ahista,"Abhay Deol, Soha Ali Khan",['Shivam Nair'],"['Drama', 'Romance', 'Drama Romance']"
...,...,...,...,...
102,Woh Lamhe...,"Shiney Ahuja, Kangana Ranaut",['Mohit Suri'],"['Biography', 'Drama', 'Romance', 'Biography D..."
103,Yun Hota Toh Kya Hota,"Ayesha Takia, Konkona Sen Sharma, Paresh Rawal",['Naseeruddin Shah'],"['Drama', 'Drama']"
104,Zinda,"Sanjay Dutt, John Abraham, Lara Dutta, Celina ...",['Sanjay Gupta'],"['Action', 'Drama', 'Mystery', 'Thriller', 'Ac..."
105,Zindaggi Rocks,"Sushmita Sen, Shiney Ahuja",['Tanuja Chandra'],"['Drama', 'Romance', 'Drama Romance']"
106,1971,Amrit Sagar,Manoj Bajpai Ravi Kishan,War

In [604]:
df=df.append(df17,ignore_index=False)

In [605]:
df19

,Unnamed: 0,Opening,Opening.1,Title,Director,Cast,Genre
0,0,JAN,4.0,Humne Jeena Seekh Liya,Milind Ukey,"Siddharth Chandekar, Mrunmayi Deshpande",Comedy
1,1,JAN,4.0,Rama Rama Kya Hai Dramaa?,S. Chandrakaant,"Rajpal Yadav, Neha Dhupia, Aashish Chaudhary, ...",Comedy
2,2,JAN,11.0,Halla Bol,Rajkumar Santoshi,"Ajay Devgn, Vidya Balan, Pankaj Kapoor",Social
3,3,JAN,18.0,Bombay to Bangkok,Nagesh Kukunoor,"Shreyas Talpade, Lena Christensen","Comedy, Drama, Romance"
4,4,JAN,18.0,Tulsi,Ajay Kumar,"Irrfan Khan, Manisha Koirala, Arzoo Govitrikar",Drama
...,...,...,...,...,...,...,...
81,81,DEC,12.0,Rab Ne Bana Di Jodi,Aditya Chopra,"Shah Rukh Khan, Anushka Sharma",Romance
82,82,DEC,19.0,Wafaa,Rakesh Sawant,"Rajesh Khanna, Laila Khan, Shahib Chopra, Diya...","Romance, Drama, Romance"
83,83,DEC,26.0,Ghajini,A. R. Murugadoss,"Aamir Khan, Asin, Jiah Khan, Pradeep Rawat","action, Drama, Mystery, Romance, Thriller"
84,84,DEC,26.0,Jumbo,Kompin Kemgumnird,"Akshay Kumar, Lara Dutta, Dimple Kapadia, Rajp...",Animation
85,85,DEC,NaN,NaN,NaN,NaN,NaN

In [606]:
df19.drop(['Unnamed: 0','Opening','Opening.1'],1,inplace=True)

In [612]:
df19.rename({'Genre':'genre'},axis=1,inplace=True)

In [613]:
df19

,Title,Director,Cast,genre
0,Humne Jeena Seekh Liya,Milind Ukey,"Siddharth Chandekar, Mrunmayi Deshpande",Comedy
1,Rama Rama Kya Hai Dramaa?,S. Chandrakaant,"Rajpal Yadav, Neha Dhupia, Aashish Chaudhary, ...",Comedy
2,Halla Bol,Rajkumar Santoshi,"Ajay Devgn, Vidya Balan, Pankaj Kapoor",Social
3,Bombay to Bangkok,Nagesh Kukunoor,"Shreyas Talpade, Lena Christensen","Comedy, Drama, Romance"
4,Tulsi,Ajay Kumar,"Irrfan Khan, Manisha Koirala, Arzoo Govitrikar",Drama
...,...,...,...,...
81,Rab Ne Bana Di Jodi,Aditya Chopra,"Shah Rukh Khan, Anushka Sharma",Romance
82,Wafaa,Rakesh Sawant,"Rajesh Khanna, Laila Khan, Shahib Chopra, Diya...","Romance, Drama, Romance"
83,Ghajini,A. R. Murugadoss,"Aamir Khan, Asin, Jiah Khan, Pradeep Rawat","action, Drama, Mystery, Romance, Thriller"
84,Jumbo,Kompin Kemgumnird,"Akshay Kumar, Lara Dutta, Dimple Kapadia, Rajp...",Animation
85,NaN,NaN,NaN,NaN

In [614]:
df=df.append(df19,ignore_index=False)

In [615]:
df

,Title,Director,Cast,genre
0,Aaj Ka Arjun,K.C. Bokadia,"Amitabh Bachchan, Jayapradha","['Action', 'Crime', 'Drama', 'Action Crime Dra..."
1,Aag Ka Dariya,S.V. Rajendra Singh,"Dilip Kumar, Rekha, Padmini Kolhapure, Amrita ...","['Action', 'Action']"
2,Aag Ka Gola,David Dhawan,"Sunny Deol, Dimple Kapadia, Archana Puran Singh","['Action', 'Drama', 'Action Drama']"
3,Aaj Ke Shahenshah,Shibu Mitra,"Raj Babbar, Jeetendra, Kimi Katkar","['Action', 'Action']"
4,Aandhiyan,David Dhawan,"Shatrughan Sinha, Mumtaz, Prosenjit Chatterjee","['Drama', 'Drama']"
...,...,...,...,...
81,Rab Ne Bana Di Jodi,Aditya Chopra,"Shah Rukh Khan, Anushka Sharma",Romance
82,Wafaa,Rakesh Sawant,"Rajesh Khanna, Laila Khan, Shahib Chopra, Diya...","Romance, Drama, Romance"
83,Ghajini,A. R. Murugadoss,"Aamir Khan, Asin, Jiah Khan, Pradeep Rawat","action, Drama, Mystery, Romance, Thriller"
84,Jumbo,Kompin Kemgumnird,"Akshay Kumar, Lara Dutta, Dimple Kapadia, Rajp...",Animation
85,NaN,NaN,NaN,NaN

In [616]:
df20

,Unnamed: 0,Opening,Opening.1,Title,Director,Cast,Genre
0,0,OCT,2.0,Do Knot Disturb,David Dhawan,"Govinda, Riteish Deshmukh, Lara Dutta, Sushmit...","Comedy, romance"
1,1,OCT,2.0,Wake Up Sid,Ayan Mukerji,"Ranbir Kapoor, Konkona Sen Sharma, Rahul Khann...",Romantic comedy
2,2,OCT,9.0,Acid Factory,Suparn Verma,"Dia Mirza, Fardeen Khan, Irrfan Khan, Manoj Ba...",Action
3,3,OCT,16.0,All the Best: Fun Begins,Rohit Shetty,"Sanjay Dutt, Ajay Devgn, Fardeen Khan, Bipasha...",Comedy
4,4,OCT,16.0,Blue,Anthony D'souza,"Akshay Kumar, Sanjay Dutt, Lara Dutta, Zayed K...",Action
...,...,...,...,...,...,...,...
101,101,SEP,11.0,Vaada Raha,Samir Karnik,"Bobby Deol, Kangana Ranaut, Dwij Yadav, Atul A...",Romance
102,102,SEP,18.0,Dil Bole Hadippa!,Anurag Singh,"Shahid Kapoor, Rani Mukerji, Anupam Kher, Dali...","Romantic comedy, sports"
103,103,SEP,18.0,Wanted,Prabhu Deva,"Salman Khan, Ayesha Takia, Prakash Raj, Vinod ...","Action, romance"
104,104,SEP,18.0,Blue Oranges,Rajesh Ganguly,"Rajat Kapoor, Shishir Sharma, Aham Sharma, Puj...",Thriller
105,105,SEP,25.0,What's Your Raashee?,Ashutosh Gowarikar,"Harman Baweja, Priyanka Chopra",Romantic comedy

In [617]:
df20.drop(['Unnamed: 0','Opening','Opening.1'],1,inplace=True)

In [618]:
df20.rename({'Genre':'genre'},axis=1,inplace=True)

In [619]:
df20

,Title,Director,Cast,genre
0,Do Knot Disturb,David Dhawan,"Govinda, Riteish Deshmukh, Lara Dutta, Sushmit...","Comedy, romance"
1,Wake Up Sid,Ayan Mukerji,"Ranbir Kapoor, Konkona Sen Sharma, Rahul Khann...",Romantic comedy
2,Acid Factory,Suparn Verma,"Dia Mirza, Fardeen Khan, Irrfan Khan, Manoj Ba...",Action
3,All the Best: Fun Begins,Rohit Shetty,"Sanjay Dutt, Ajay Devgn, Fardeen Khan, Bipasha...",Comedy
4,Blue,Anthony D'souza,"Akshay Kumar, Sanjay Dutt, Lara Dutta, Zayed K...",Action
...,...,...,...,...
101,Vaada Raha,Samir Karnik,"Bobby Deol, Kangana Ranaut, Dwij Yadav, Atul A...",Romance
102,Dil Bole Hadippa!,Anurag Singh,"Shahid Kapoor, Rani Mukerji, Anupam Kher, Dali...","Romantic comedy, sports"
103,Wanted,Prabhu Deva,"Salman Khan, Ayesha Takia, Prakash Raj, Vinod ...","Action, romance"
104,Blue Oranges,Rajesh Ganguly,"Rajat Kapoor, Shishir Sharma, Aham Sharma, Puj...",Thriller
105,What's Your Raashee?,Ashutosh Gowarikar,"Harman Baweja, Priyanka Chopra",Romantic comedy

In [620]:
df=df.append(df20,ignore_index=False)

In [622]:
df.shape

(1636, 4)

In [623]:
df21

,Unnamed: 0,Opening,Opening.1,Title,Director,Cast,Genre
0,0,OCT,1.0,Anjaana Anjaani,Siddharth Anand,"Ranbir Kapoor, Priyanka Chopra, Zayed Khan",Romance
1,1,OCT,1.0,Khichdi: The Movie,Aatish Kapadia,"Supriya Pathak, Anang Desai, Rajeev Mehta, Jam...",Comedy
2,2,OCT,8.0,Crook,Mohit Suri,"Emraan Hashmi, Neha Sharma",Thriller
3,3,OCT,8.0,Do Dooni Chaar,Habib Faisal,"Rishi Kapoor, Neetu Singh",Comedy
4,4,OCT,15.0,Aakrosh,Priyadarshan,"Ajay Devgn, Akshaye Khanna, Bipasha Basu, Reem...",Thriller
...,...,...,...,...,...,...,...
121,121,AUG,27.0,Soch Lo,Sartaj Singh Pannu,"Sartaj Singh Pannu, Barkha Madan, Bhupinder Singh","Mystery, Suspense"
122,122,SEP,3.0,We Are Family,Siddharth Malhotra,"Arjun Rampal, Kajol, Kareena Kapoor","Drama, Romance"
123,123,SEP,3.0,Mallika,Wilson Louis,"Sameer Dattani, Sheena Nayar, Himanshu Malik",Horror
124,124,SEP,3.0,The Film Emotional Atyachar,Akshay Shere,"Mohit Alawat, Kalki Koechlin, Vinay Pathak, Ra...",Drama
125,125,SEP,10.0,Dabangg,Abhinav Kashyap,"Salman Khan, Arbaaz Khan, Sonakshi Sinha, Sonu...",Action

In [624]:
df21.drop(['Unnamed: 0','Opening','Opening.1'],1,inplace=True)

In [625]:
df21.rename({'Genre':'genre'},axis=1,inplace=True)

In [626]:
df=df.append(df21,ignore_index=False)

In [627]:
df.shape

(1762, 4)

In [628]:
df22

,Unnamed: 0,Opening,Opening.1,Title,Genre,Director,Cast,Ref
0,0,OCT,6.0,Rascals,Comedy/Action,David Dhawan,"Ajay Devgn, Sanjay Dutt, Arjun Rampal, Kangana...",[69]
1,1,OCT,7.0,Love Breakups Zindagi,Romantic,Sahil Sangha,"Zayed Khan, Dia Mirza",[70]
2,2,OCT,14.0,My Friend Pinto,Romance Comedy Crime,Raghav Dar,"Prateik Babbar, Kalki Koechlin, Manisha Koiral...",[71]
3,3,OCT,14.0,Mujhse Fraaandship Karoge,Comedy/Romance,Nupur Asthana,"Saqib Saleem, Saba Azad, Nishant Dahiya, Tara ...",[72]
4,4,OCT,14.0,Mod,Romance/Drama,Nagesh Kukunoor,"Ayesha Takia, Rannvijay Singh, Raghuvir Yadav,...",NaN
...,...,...,...,...,...,...,...,...
103,103,SEP,30.0,Tere Mere Phere,Romantic/Comedy,Deepa Sahi,"Vinay Pathak, Riya Sen, Jagrat Desai, Sasha Go...",[66]
104,104,SEP,30.0,Chargesheet,Drama/Thriller,Dev Anand,"Dev Anand, Jackie Shroff, Naseeruddin Shah, Di...",[67]
105,105,SEP,30.0,Na Jaane Kabse hum hi,Romance,Pammi Somal,"Garry Gill, Amrita Prakash, Sharat Saxena, Gur...",[68]
106,106,SEP,NaN,NaN,NaN,NaN,NaN,NaN
107,107,SEP,NaN,NaN,NaN,NaN,NaN,NaN

In [629]:
df22.drop(['Unnamed: 0','Opening','Opening.1','Ref'],1,inplace=True)

In [630]:
df22.rename({'Genre':'genre'},axis=1,inplace=True)

In [631]:
df=df.append(df22,ignore_index=False)

In [632]:
df.shape

(1870, 4)

In [633]:
df.rename({'genre':'Genre'},axis=1,inplace=True)

In [634]:
df23

,Unnamed: 0,Opening,Opening.1,Title,Genre,Director,Cast
0,0,OCT,5,English Vinglish,Drama,Gauri Shinde,"Sridevi, Priya Anand, Mehdi Nebbou, Amitabh Ba..."
1,1,OCT,5,Kismet Love Paisa Dilli,Comedy,Sanjay Khanduri,"Vivek Oberoi, Mallika Sherawat[69]"
2,2,OCT,12,Aiyyaa,Rom-Com,Sachin Kundalkar,"Rani Mukerji, Prithviraj Sukumaran[70]"
3,3,OCT,12,Login,Drama/Thriller,Sanjeev Reddy,"Himansu Bhatt, Radhika Roy, Akkash Basant, Ras..."
4,4,OCT,12,Chittagong,Drama,Bedabrata Pain,"Manoj Bajpai, Vega Tamotia, Nawazuddin Siddiqu..."
...,...,...,...,...,...,...,...
99,99,SEP,14,Barfi!,Romance/Comedy,Anurag Basu,"Ranbir Kapoor, Priyanka Chopra, Ileana D'Cruz[63]"
100,100,SEP,14,Jeena Hai Toh Thok Daal,Drama,Manish Vatsalya,"Ravi Kishan, Yashpal Sharma, Govind Namdev, Ha..."
101,101,SEP,21,Heroine,Adult/Drama,Madhur Bhandarkar,"Kareena Kapoor, Arjun Rampal, Randeep Hooda, M..."
102,102,SEP,28,Kamaal Dhamaal Malamaal,Comedy,Priyadarshan,"Paresh Rawal, Om Puri, Nana Patekar, Shreyas T..."
103,103,SEP,28,OMG â€“ Oh My God!,Comedy/Fantasy,Umesh Shukla,"Paresh Rawal, Akshay Kumar, Mithun Chakraborty..."

In [635]:
df23.drop(['Unnamed: 0','Opening','Opening.1'],1,inplace=True)

In [636]:
df=df.append(df23,ignore_index=False)

In [637]:
df.shape

(1974, 4)

In [638]:
df24.head(1)

,Unnamed: 0,Opening,Opening.1,Title,Genre,Director,Cast,Source
0,0,OCT,2.0,Besharam,Comedy/Action,Abhinav Kashyap,"Ranbir Kapoor, Pallavi Sharda, Rishi Kapoor, N...",unknown

In [639]:
df24.drop(['Unnamed: 0','Opening','Opening.1','Source'],1,inplace=True)

In [640]:
df=df.append(df24,ignore_index=False)

In [641]:
df.shape

(2091, 4)

In [642]:
df25.head(1)

,Unnamed: 0,Opening,Opening.1,Title,Genre,Director,Cast,Source
0,0,OCT,2.0,Bang Bang!,Action/Romance,Siddharth Anand,"Hrithik Roshan, Katrina Kaif, Javed Jaffrey",[112]

In [643]:
df25.drop(['Unnamed: 0','Opening','Opening.1','Source'],1,inplace=True)

In [644]:
df=df.append(df25,ignore_index=False)

In [646]:
df.shape

(2237, 4)

In [648]:
df26.head(1)

,Unnamed: 0,Opening,Opening.1,Title,Genre,Director,Cast,Source
0,0,OCT,2.0,Singh Is Bliing,Comedy,Prabhu Deva,"Akshay Kumar, Amy Jackson",[119]

In [649]:
df26.drop(['Unnamed: 0','Opening','Opening.1','Source'],1,inplace=True)

In [650]:
df=df.append(df26,ignore_index=False)

In [651]:
df.shape

(2351, 4)

In [653]:
df27.head(1)

,Unnamed: 0,Opening,Opening.1,Title,Director,Cast,Genre,Studio
0,0,OCT,7,Mirzya,Rakeysh Omprakash Mehra,"Harshvardhan Kapoor, Saiyami Kher, Om Puri, Ar...",Drama/romance,unknown

In [655]:
df27.drop(['Unnamed: 0','Opening','Opening.1','Studio'],1,inplace=True)

In [656]:
df=df.append(df27,ignore_index=False)

In [657]:
df.shape

(2470, 4)

In [658]:
df28.head(1)

,Unnamed: 0,Opening,Opening.1,Title,Director,Cast,Genre,Studio
0,0,OCT,6.0,Tu Hai Mera Sunday,Milind Dhaimade,Barun Sobti & Vishal Malhotra,Romantic comedy,Love & Faith

In [659]:
df28.drop(['Unnamed: 0','Opening','Opening.1','Studio'],1,inplace=True)

In [660]:
df=df.append(df28,ignore_index=False)

In [662]:
df29.head(1)

,Unnamed: 0,Opening,Opening.1,Title,Director,Cast,Production house,genre
0,0,OCT,5.0,Loveyatri,Abhiraj Minawala,Aayush SharmaWarina Hussain,Salman Khan Films,"['Drama', 'Romance', 'Drama Romance']"

In [663]:
df=df.append(df29,ignore_index=False)

In [670]:
df31.head()

,Unnamed: 0,Opening,Opening.1,Title,Director,Cast,Studio (production house),Ref.,genre
0,0,OCT,2,Khaali Peeli,Maqbool Khan,Ishaan KhatterAnanya Panday,"Zee Studios, Offside Entertainment, Zee Plex, ...",[83],"['Action', 'Romance', 'Action Romance']"
1,1,NOV,13,Prithviraj,Chandraprakash Dwivedi,Akshay KumarManushi ChhillarSanjay DuttSonu So...,Yash Raj Films,[84][85][86][87],"['Action', 'Drama', 'History', 'War', 'Action ..."
2,2,NOV,13,Dhaakad,Razneesh â€˜Razyâ€™ Ghai,Kangana Ranaut,"Sohail Makai Productions, Asylum Films",[88],"['Action', 'Action']"
3,3,NOV,13,Aankh Micholi,Umesh Shukla,Abhimanyu DassaniMrunal ThakurParesh RawalShar...,Sony Pictures Releasing,[89][90][91],"['Comedy', 'Family', 'Comedy Family']"
4,4,NOV,20,Untitled film,Vardhan Ketkar,Sidharth MalhotraMrunal ThakurAmyra DasturAdit...,T-Series,[92][93],"['Mystery', 'Mystery']"

In [671]:
df31.drop(['Unnamed: 0','Opening','Opening.1','Studio (production house)','Ref.'],1,inplace=True)

In [672]:
df=df.append(df31,ignore_index=False)

In [673]:
#df0=pd.read_csv('cleanedfilm_1950-1989.csv')

In [674]:
#df0.head()

In [675]:
df17

,Title,Cast,Director,genre
0,36 China Town,"Kareena Kapoor, Shahid Kapoor, Akshaye Khanna,...",['Abbas Alibhai Burmawalla Mastan Alibhai Burm...,"['Comedy', 'Mystery', 'Thriller', 'Comedy Myst..."
1,Aap Ki Khatir,"Sunil Shetty, Akshaye Khanna, Dino Morea, Amis...",['Dharmesh Darshan'],"['Comedy', 'Romance', 'Comedy Romance']"
2,Aatma,"Kapil Jhaveri, Neha",['Suparn Verma'],"['Drama', 'Horror', 'Thriller', 'Drama Horror ..."
3,Adharm,"Rahul Dev, Sonali Kulkarni",['Aziz Sejawal'],"['Action', 'Crime', 'Drama', 'Action Crime Dra..."
4,Ahista Ahista,"Abhay Deol, Soha Ali Khan",['Shivam Nair'],"['Drama', 'Romance', 'Drama Romance']"
...,...,...,...,...
102,Woh Lamhe...,"Shiney Ahuja, Kangana Ranaut",['Mohit Suri'],"['Biography', 'Drama', 'Romance', 'Biography D..."
103,Yun Hota Toh Kya Hota,"Ayesha Takia, Konkona Sen Sharma, Paresh Rawal",['Naseeruddin Shah'],"['Drama', 'Drama']"
104,Zinda,"Sanjay Dutt, John Abraham, Lara Dutta, Celina ...",['Sanjay Gupta'],"['Action', 'Drama', 'Mystery', 'Thriller', 'Ac..."
105,Zindaggi Rocks,"Sushmita Sen, Shiney Ahuja",['Tanuja Chandra'],"['Drama', 'Romance', 'Drama Romance']"
106,1971,Amrit Sagar,Manoj Bajpai Ravi Kishan,War

In [677]:
df17.rename({'genre':'Genre'},axis=1,inplace=True)

In [678]:
df=df.append(df17,ignore_index=True)

In [680]:
df.shape

(2871, 9)

In [681]:
cd /Users/pradeepvaddigadda/desktop

/Users/pradeepvaddigadda/Desktop

In [682]:
df1=pd.read_csv('cleanedfilm_2019.csv')

In [683]:
df1

,Unnamed: 0,Opening,Opening.1,Title,Director,Cast,Studio (production house),Ref.,Genre
0,1,JAN,9.0,Cabaret,Kaustav Narayan Niyogi,Richa ChaddaGulshan DevaiahS. Sreesanth,"Fisheye Network Private Limited, T-Series",[14],"['Drama', 'Musical', 'Drama Musical']"
1,2,JAN,11.0,Uri: The Surgical Strike,Aditya Dhar,Vicky KaushalMohit RainaParesh RawalYami Gautam,RSVP Movies,[15][16],"['Action', 'Drama', 'War', 'Action Drama War']"
2,3,JAN,11.0,Battalion 609,Brijesh Batuknath Tripathi,Shoaib IbrahimElena KazanFarnaz ShettyVishwas ...,N.J Lalwani Films,[17][18][19],"['War', 'War']"
3,4,JAN,11.0,The Accidental Prime Minister,Vijay Ratnakar Gutte,Anupam KherAkshaye KhannaSuzanne BernertAahana...,Bohra Bros Production,[20][21],"['Biography', 'Drama', 'Biography Drama']"
4,5,JAN,11.0,Evening Shadows,Sridhar Rangayan,Mona AmbegaonkarAnanth Narayan MahadevanDevans...,Solaris Pictures,[22][23],"['Drama', 'Drama']"
...,...,...,...,...,...,...,...,...,...
116,121,DEC,13.0,Mardaani 2,Gopi Puthran,Rani MukerjiVikram Singh ChauhanShruti BapnaRa...,Yash Raj Films,[182],"['Action', 'Crime', 'Drama', 'Thriller', 'Acti..."
117,122,DEC,13.0,The Body,Jeethu Joseph,Emraan HashmiRishi KapoorVedhikaSobhita Dhulipala,Viacom18 Motion Pictures,[183],"['Adventure', 'Drama', 'Adventure Drama']"
118,123,DEC,20.0,Dabangg 3,Prabhu Deva,Salman KhanSonakshi SinhaSudeepSaiee Manjrekar...,"Arbaaz Khan Productions, Salman Khan Films",[184],"['Action', 'Comedy', 'Action Comedy']"
119,124,DEC,25.0,Happi,Bhavna Talwar,Pankaj KapoorSupriya PathakHrishitaa Bhatt,"Vistaar Film Fund, WSG Pictures",[185],"['Comedy', 'Drama', 'Comedy Drama']"
120,125,DEC,27.0,Good Newwz,Raj Mehta,Akshay KumarKareena KapoorDiljit DosanjhKiara ...,"Dharma Productions, Cape Of Good Films",[186],"['Comedy', 'Comedy']"

In [684]:
df1.drop(['Unnamed: 0','Opening','Opening.1','Studio (production house)','Ref.'],1,inplace=True)

In [685]:
df1

,Title,Director,Cast,Genre
0,Cabaret,Kaustav Narayan Niyogi,Richa ChaddaGulshan DevaiahS. Sreesanth,"['Drama', 'Musical', 'Drama Musical']"
1,Uri: The Surgical Strike,Aditya Dhar,Vicky KaushalMohit RainaParesh RawalYami Gautam,"['Action', 'Drama', 'War', 'Action Drama War']"
2,Battalion 609,Brijesh Batuknath Tripathi,Shoaib IbrahimElena KazanFarnaz ShettyVishwas ...,"['War', 'War']"
3,The Accidental Prime Minister,Vijay Ratnakar Gutte,Anupam KherAkshaye KhannaSuzanne BernertAahana...,"['Biography', 'Drama', 'Biography Drama']"
4,Evening Shadows,Sridhar Rangayan,Mona AmbegaonkarAnanth Narayan MahadevanDevans...,"['Drama', 'Drama']"
...,...,...,...,...
116,Mardaani 2,Gopi Puthran,Rani MukerjiVikram Singh ChauhanShruti BapnaRa...,"['Action', 'Crime', 'Drama', 'Thriller', 'Acti..."
117,The Body,Jeethu Joseph,Emraan HashmiRishi KapoorVedhikaSobhita Dhulipala,"['Adventure', 'Drama', 'Adventure Drama']"
118,Dabangg 3,Prabhu Deva,Salman KhanSonakshi SinhaSudeepSaiee Manjrekar...,"['Action', 'Comedy', 'Action Comedy']"
119,Happi,Bhavna Talwar,Pankaj KapoorSupriya PathakHrishitaa Bhatt,"['Comedy', 'Drama', 'Comedy Drama']"
120,Good Newwz,Raj Mehta,Akshay KumarKareena KapoorDiljit DosanjhKiara ...,"['Comedy', 'Comedy']"

In [686]:
df=df.append(df1,ignore_index=False)

In [688]:
df.shape

(2992, 9)

In [700]:
df.to_csv('cleanedfilm_whole.csv', header=True, index=True)

In [32]:
df0=pd.read_csv('bollywood_text_1950-1989.csv')

In [33]:
df111=pd.read_csv('cleanedfilm_1950-1989.csv')

In [34]:
df0.head()

,imdb_id,story,summary,tagline,actors,wins_nominations,release_date
0,tt0349122,Amit (Rakesh Roshan) is a big city boy but hi...,Amit (Rakesh Roshan) is a big city boy but hi...,NaN,NaN,NaN,18 December 1989 (India)
1,tt0098168,Sharda (Raakhee) vows vengeance when her husba...,Sharda (Raakhee) vows vengeance when her husba...,NaN,Rakhee Gulzar|Jackie Shroff|Anil Kapoor|Dimple...,2 wins & 4 nominations,27 January 1989 (India)
2,tt0122427,Anju and Manju identical twins separated at b...,Twins separated at infancy are brought up diff...,NaN,Sridevi|Sunny Deol|Rajinikanth|Anupam Kher|Sha...,2 wins,8 December 1989 (India)
3,tt0096896,In India circa after the British Rule there i...,In India circa after the British Rule there i...,NaN,Dharmendra|Vinod Khanna|Dimple Kapadia|Poonam ...,1 nomination,14 July 1989 (India)
4,tt0233146,Anita lives an abusive life-style with her alc...,Anita lives an abusive life-style with her alc...,NaN,Jeetendra|Raj Babbar|Anita Raj|Govinda|Sonam|S...,NaN,NaN

In [35]:
df111.head()

,Unnamed: 0,imdb_id,title,original_title,is_adult,year_of_release,runtime,genres,director
0,0,tt0042184,Afsar,Afsar,0,1950,121,Comedy|Romance,['Gulshan Singh']
1,1,tt0042207,Arzoo,Arzoo,0,1950,\N,Musical|Romance,['Shaheed Latif']
2,2,tt0042225,Banwra,Banwra,0,1950,148,Drama,['G. Rakesh']
3,3,tt0042233,Bawre Nain,Bawre Nain,0,1950,138,Drama|Romance,['Kidar Nath Sharma']
4,4,tt0042380,Dastan,Dastan,0,1950,122,Drama|Family|Romance,['Abdul Rashid Kardar']

In [36]:
df222=pd.merge(df0,df111,how='inner',on='imdb_id')

In [37]:
df222

,imdb_id,story,summary,tagline,actors,wins_nominations,release_date,Unnamed: 0,title,original_title,is_adult,year_of_release,runtime,genres,director
0,tt0349122,Amit (Rakesh Roshan) is a big city boy but hi...,Amit (Rakesh Roshan) is a big city boy but hi...,NaN,NaN,NaN,18 December 1989 (India),1606,Bahurani,Bahurani,0,1989,\N,Comedy|Drama|Family,['Manik Chatterjee']
1,tt0098168,Sharda (Raakhee) vows vengeance when her husba...,Sharda (Raakhee) vows vengeance when her husba...,NaN,Rakhee Gulzar|Jackie Shroff|Anil Kapoor|Dimple...,2 wins & 4 nominations,27 January 1989 (India),532,Ram Lakhan,Ram Lakhan,0,1989,174,Action|Drama|Musical,['Subhash Ghai']
2,tt0122427,Anju and Manju identical twins separated at b...,Twins separated at infancy are brought up diff...,NaN,Sridevi|Sunny Deol|Rajinikanth|Anupam Kher|Sha...,2 wins,8 December 1989 (India),540,Chaalbaaz,Chaalbaaz,0,1989,155,Action|Comedy|Drama,['Pankaj Parashar']
3,tt0096896,In India circa after the British Rule there i...,In India circa after the British Rule there i...,NaN,Dharmendra|Vinod Khanna|Dimple Kapadia|Poonam ...,1 nomination,14 July 1989 (India),517,Batwara,Batwara,0,1989,201,Action|Drama,['J.P. Dutta']
4,tt0233146,Anita lives an abusive life-style with her alc...,Anita lives an abusive life-style with her alc...,NaN,Jeetendra|Raj Babbar|Anita Raj|Govinda|Sonam|S...,NaN,NaN,1153,Asmaan Se Ooncha,Asmaan Se Ooncha,0,1989,\N,Action|Drama|Family,['Mehul Kumar']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2080,tt0214273,NaN,Add a PlotÂ Â»,NaN,Trilok Kapoor|,NaN,NaN,1012,Veer Bhimsen,Veer Bhimsen,0,1950,\N,\N,['Sushil Vyas']
2081,tt0268614,The story is based on the true incident at INA...,The story is based on the true incident at INA...,NaN,Ashok Kumar|Nalini Jaywant|Kuldip Kaur|Shyam|M...,NaN,NaN,1442,Samadhi,Samadhi,0,1950,165,Drama,['Daniel Schmidt']
2082,tt0213081,NaN,Add a PlotÂ Â»,NaN,NaN,NaN,NaN,994,Meena Bazaar,Meena Bazaar,0,1950,\N,Drama,['P. Chandra Kumar']
2083,tt0269826,NaN,Add a PlotÂ Â»,NaN,Raj Kapoor|Rehana|Om Prakash|David Abraham|Rad...,NaN,4 February 1957 (Iran),1454,Melody,Sargam,0,1950,135,Drama|Family,['Waris Hussein']
2084,tt0230735,NaN,Add a PlotÂ Â»,NaN,Sulochana Chatterjee|Ishwarlal|,NaN,NaN,1088,Sati Narmada,Sati Narmada,0,1950,\N,\N,['Kanjibhai Rathod']

In [38]:
df222.isnull().sum()

imdb_id                0
story                384
summary                0
tagline             2052
actors                12
wins_nominations    1656
release_date        1113
Unnamed: 0             0
title                  0
original_title         0
is_adult               0
year_of_release        0
runtime                0
genres                 0
director               0
dtype: int64

In [39]:
df222.drop(['imdb_id','story','tagline','wins_nominations','release_date','original_title','is_adult','year_of_release','runtime'],1,inplace=True)

In [40]:
df222.head()

,summary,actors,Unnamed: 0,title,genres,director
0,Amit (Rakesh Roshan) is a big city boy but hi...,NaN,1606,Bahurani,Comedy|Drama|Family,['Manik Chatterjee']
1,Sharda (Raakhee) vows vengeance when her husba...,Rakhee Gulzar|Jackie Shroff|Anil Kapoor|Dimple...,532,Ram Lakhan,Action|Drama|Musical,['Subhash Ghai']
2,Twins separated at infancy are brought up diff...,Sridevi|Sunny Deol|Rajinikanth|Anupam Kher|Sha...,540,Chaalbaaz,Action|Comedy|Drama,['Pankaj Parashar']
3,In India circa after the British Rule there i...,Dharmendra|Vinod Khanna|Dimple Kapadia|Poonam ...,517,Batwara,Action|Drama,['J.P. Dutta']
4,Anita lives an abusive life-style with her alc...,Jeetendra|Raj Babbar|Anita Raj|Govinda|Sonam|S...,1153,Asmaan Se Ooncha,Action|Drama|Family,['Mehul Kumar']

In [41]:
df222.drop(['Unnamed: 0','summary'],1,inplace=True)

In [42]:
df222.head()

,actors,title,genres,director
0,NaN,Bahurani,Comedy|Drama|Family,['Manik Chatterjee']
1,Rakhee Gulzar|Jackie Shroff|Anil Kapoor|Dimple...,Ram Lakhan,Action|Drama|Musical,['Subhash Ghai']
2,Sridevi|Sunny Deol|Rajinikanth|Anupam Kher|Sha...,Chaalbaaz,Action|Comedy|Drama,['Pankaj Parashar']
3,Dharmendra|Vinod Khanna|Dimple Kapadia|Poonam ...,Batwara,Action|Drama,['J.P. Dutta']
4,Jeetendra|Raj Babbar|Anita Raj|Govinda|Sonam|S...,Asmaan Se Ooncha,Action|Drama|Family,['Mehul Kumar']

In [18]:
df222.rename({'title':'Title','genres':'Genres','director':'Director'},axis=1,inplace=True)

In [43]:
df222

,actors,title,genres,director
0,NaN,Bahurani,Comedy|Drama|Family,['Manik Chatterjee']
1,Rakhee Gulzar|Jackie Shroff|Anil Kapoor|Dimple...,Ram Lakhan,Action|Drama|Musical,['Subhash Ghai']
2,Sridevi|Sunny Deol|Rajinikanth|Anupam Kher|Sha...,Chaalbaaz,Action|Comedy|Drama,['Pankaj Parashar']
3,Dharmendra|Vinod Khanna|Dimple Kapadia|Poonam ...,Batwara,Action|Drama,['J.P. Dutta']
4,Jeetendra|Raj Babbar|Anita Raj|Govinda|Sonam|S...,Asmaan Se Ooncha,Action|Drama|Family,['Mehul Kumar']
...,...,...,...,...
2080,Trilok Kapoor|,Veer Bhimsen,\N,['Sushil Vyas']
2081,Ashok Kumar|Nalini Jaywant|Kuldip Kaur|Shyam|M...,Samadhi,Drama,['Daniel Schmidt']
2082,NaN,Meena Bazaar,Drama,['P. Chandra Kumar']
2083,Raj Kapoor|Rehana|Om Prakash|David Abraham|Rad...,Melody,Drama|Family,['Waris Hussein']
2084,Sulochana Chatterjee|Ishwarlal|,Sati Narmada,\N,['Kanjibhai Rathod']

In [44]:
df222.isnull().sum()

actors      12
title        0
genres       0
director     0
dtype: int64

In [45]:
ddf34=df222.dropna()

In [46]:
ddf34.to_csv('cleaned_1950-1989.csv', header=True, index=True)

In [732]:
df=pd.read_csv('cleanedfilm_whole.csv')

In [733]:
df

,Unnamed: 0,Title,Director,Cast,Genre,Unnamed: 0.1,Opening,Opening.1,Production house,genre
0,0,Aaj Ka Arjun,K.C. Bokadia,"Amitabh Bachchan, Jayapradha","['Action', 'Crime', 'Drama', 'Action Crime Dra...",NaN,NaN,NaN,NaN,NaN
1,1,Aag Ka Dariya,S.V. Rajendra Singh,"Dilip Kumar, Rekha, Padmini Kolhapure, Amrita ...","['Action', 'Action']",NaN,NaN,NaN,NaN,NaN
2,2,Aag Ka Gola,David Dhawan,"Sunny Deol, Dimple Kapadia, Archana Puran Singh","['Action', 'Drama', 'Action Drama']",NaN,NaN,NaN,NaN,NaN
3,3,Aaj Ke Shahenshah,Shibu Mitra,"Raj Babbar, Jeetendra, Kimi Katkar","['Action', 'Action']",NaN,NaN,NaN,NaN,NaN
4,4,Aandhiyan,David Dhawan,"Shatrughan Sinha, Mumtaz, Prosenjit Chatterjee","['Drama', 'Drama']",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2987,116,Mardaani 2,Gopi Puthran,Rani MukerjiVikram Singh ChauhanShruti BapnaRa...,"['Action', 'Crime', 'Drama', 'Thriller', 'Acti...",NaN,NaN,NaN,NaN,NaN
2988,117,The Body,Jeethu Joseph,Emraan HashmiRishi KapoorVedhikaSobhita Dhulipala,"['Adventure', 'Drama', 'Adventure Drama']",NaN,NaN,NaN,NaN,NaN
2989,118,Dabangg 3,Prabhu Deva,Salman KhanSonakshi SinhaSudeepSaiee Manjrekar...,"['Action', 'Comedy', 'Action Comedy']",NaN,NaN,NaN,NaN,NaN
2990,119,Happi,Bhavna Talwar,Pankaj KapoorSupriya PathakHrishitaa Bhatt,"['Comedy', 'Drama', 'Comedy Drama']",NaN,NaN,NaN,NaN,NaN
2991,120,Good Newwz,Raj Mehta,Akshay KumarKareena KapoorDiljit DosanjhKiara ...,"['Comedy', 'Comedy']",NaN,NaN,NaN,NaN,NaN

In [734]:
df.isnull().sum()

Unnamed: 0             0
Title                 25
Director              72
Cast                  89
Genre                236
Unnamed: 0.1        2892
Opening             2892
Opening.1           2892
Production house    2892
genre               2817
dtype: int64

In [735]:
df.drop(['Unnamed: 0','Unnamed: 0.1','Opening','Opening.1','Production house','genre'],1,inplace=True)

In [736]:
df.isnull().sum()

Title        25
Director     72
Cast         89
Genre       236
dtype: int64

In [747]:
df33=df.dropna()

In [748]:
df33.shape

(2696, 4)

In [738]:
df32=df[df['Genre'].isnull()]

In [742]:
import imdb

moviesDB = imdb.IMDb()

# # Help?
# print(dir(moviesDB))
# ----------------------------------------
# 1) Search for a title
movies = moviesDB.search_movie('inception')

# print('Searching for "inception":')
# for movie in movies:
#     title = movie['title']
#     year = movie['year']
#     print(f'{title} - {year}')

## Help?
#print(movies[0].keys())

In [743]:
def get_genre(x):
  genres = []
  
  try:
    movies = moviesDB.search_movie(x)
    id = movies[0].getID()
    movie = moviesDB.get_movie(id) 
    genres = movie['genres'] 
    direcStr= ' '.join(map(str,genres))
    genres.append(direcStr)
    return genres
  except:
    print("An exception occurred")

In [744]:
df32['Genre'] = df32['Title'].map(lambda x: get_genre(str(x)))

An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred

2020-09-09 15:29:26,047 CRITICAL [imdbpy] /opt/anaconda3/lib/python3.8/site-packages/imdb/_exceptions.py:33: IMDbDataAccessError exception raised; args: ({'errcode': None, 'errmsg': 'None', 'url': 'https://www.imdb.com/title/tt8649252/plotsummary', 'proxy': '', 'exception type': 'IOError', 'original exception': timeout('The read operation timed out')},); kwds: {}
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.8/site-packages/imdb/parser/http/__init__.py", line 220, in retrieve_unicode
    content = response.read()
  File "/opt/anaconda3/lib/python3.8/http/client.py", line 461, in read
    return self._readall_chunked()
  File "/opt/anaconda3/lib/python3.8/http/client.py", line 568, in _readall_chunked
    chunk_left = self._get_chunk_left()
  File "/opt/anaconda3/lib/python3.8/http/client.py", line 551, in _get_chunk_left
    chunk_left = self._read_next_chunk_size()
  File "/opt/anaconda3/lib/python3.8/http/client.py", line 511, in _read_next_chunk_size
    line = self.fp.readline(_MAXLINE + 1)
  File "/opt/anaconda3/lib/python3.8/socket.py", line 669, in readinto
    return self._sock.recv_into(b)
  File "/opt/anaconda3/lib/python3.8/ssl.py", line 1241, in recv_into
    return self.read(nbytes, buffer)
  File "/opt/anaconda3/lib/python3.8/ssl.py", line 1099, in read
    return self._sslobj.read(len, buffer)
socket.timeout: The read operation timed out
2020-09-09 15:29:26,058 CRITICAL [imdbpy] /opt/anaconda3/lib/python3.8/site-packages/imdb/__init__.py:734: caught an exception retrieving or parsing "plot" info set for mopID "8649252" (accessSystem: http)
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.8/site-packages/imdb/parser/http/__init__.py", line 220, in retrieve_unicode
    content = response.read()
  File "/opt/anaconda3/lib/python3.8/http/client.py", line 461, in read
    return self._readall_chunked()
  File "/opt/anaconda3/lib/python3.8/http/client.py", line 568, in _readall_chunked
    chunk_left = self._get_chunk_left()
  File "/opt/anaconda3/lib/python3.8/http/client.py", line 551, in _get_chunk_left
    chunk_left = self._read_next_chunk_size()
  File "/opt/anaconda3/lib/python3.8/http/client.py", line 511, in _read_next_chunk_size
    line = self.fp.readline(_MAXLINE + 1)
  File "/opt/anaconda3/lib/python3.8/socket.py", line 669, in readinto
    return self._sock.recv_into(b)
  File "/opt/anaconda3/lib/python3.8/ssl.py", line 1241, in recv_into
    return self.read(nbytes, buffer)
  File "/opt/anaconda3/lib/python3.8/ssl.py", line 1099, in read
    return self._sslobj.read(len, buffer)
socket.timeout: The read operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.8/site-packages/imdb/__init__.py", line 732, in update
    ret = method(mopID)
  File "/opt/anaconda3/lib/python3.8/site-packages/imdb/parser/http/__init__.py", line 447, in get_movie_plot
    cont = self._retrieve(self.urls['movie_main'] % movieID + 'plotsummary')
  File "/opt/anaconda3/lib/python3.8/site-packages/imdb/parser/http/__init__.py", line 376, in _retrieve
    ret = self.urlOpener.retrieve_unicode(url, size=size)
  File "/opt/anaconda3/lib/python3.8/site-packages/imdb/parser/http/__init__.py", line 247, in retrieve_unicode
    raise IMDbDataAccessError(
imdb._exceptions.IMDbDataAccessError: {'errcode': None, 'errmsg': 'None', 'url': 'https://www.imdb.com/title/tt8649252/plotsummary', 'proxy': '', 'exception type': 'IOError', 'original exception': timeout('The read operation timed out')}

An exception occurred

2020-09-09 15:29:39,349 CRITICAL [imdbpy] /opt/anaconda3/lib/python3.8/site-packages/imdb/_exceptions.py:33: IMDbDataAccessError exception raised; args: ({'errcode': None, 'errmsg': 'None', 'url': 'https://www.imdb.com/find?q=nan&s=tt', 'proxy': '', 'exception type': 'IOError', 'original exception': URLError(TimeoutError(60, 'Operation timed out'))},); kwds: {}
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.8/urllib/request.py", line 1350, in do_open
    h.request(req.get_method(), req.selector, req.data, headers,
  File "/opt/anaconda3/lib/python3.8/http/client.py", line 1240, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/opt/anaconda3/lib/python3.8/http/client.py", line 1286, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/opt/anaconda3/lib/python3.8/http/client.py", line 1235, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/opt/anaconda3/lib/python3.8/http/client.py", line 1006, in _send_output
    self.send(msg)
  File "/opt/anaconda3/lib/python3.8/http/client.py", line 946, in send
    self.connect()
  File "/opt/anaconda3/lib/python3.8/http/client.py", line 1402, in connect
    super().connect()
  File "/opt/anaconda3/lib/python3.8/http/client.py", line 917, in connect
    self.sock = self._create_connection(
  File "/opt/anaconda3/lib/python3.8/socket.py", line 808, in create_connection
    raise err
  File "/opt/anaconda3/lib/python3.8/socket.py", line 796, in create_connection
    sock.connect(sa)
TimeoutError: [Errno 60] Operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.8/site-packages/imdb/parser/http/__init__.py", line 219, in retrieve_unicode
    response = uopener.open(url)
  File "/opt/anaconda3/lib/python3.8/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/opt/anaconda3/lib/python3.8/urllib/request.py", line 542, in _open
    result = self._call_chain(self.handle_open, protocol, protocol +
  File "/opt/anaconda3/lib/python3.8/urllib/request.py", line 502, in _call_chain
    result = func(*args)
  File "/opt/anaconda3/lib/python3.8/urllib/request.py", line 1393, in https_open
    return self.do_open(http.client.HTTPSConnection, req,
  File "/opt/anaconda3/lib/python3.8/urllib/request.py", line 1353, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error [Errno 60] Operation timed out>

An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred

<ipython-input-744-70bb818b7c9b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df32['Genre'] = df32['Title'].map(lambda x: get_genre(str(x)))

In [781]:
df32.isnull().sum()

Title       25
Director    50
Cast        48
Genre       43
dtype: int64

In [782]:
df33.isnull().sum()

Title       0
Director    0
Cast        0
Genre       0
dtype: int64

In [783]:
ddf34.isnull().sum()

Cast        0
Title       0
Genre       0
Director    0
dtype: int64

In [773]:
#ddf34.rename({'actors':'Cast'},axis=1,inplace=True)

In [774]:
#df34.rename({'Genre':'genre'},axis=1,inplace=True)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [784]:
ddf34.head()

,Cast,Title,Genre,Director
1,Rakhee Gulzar|Jackie Shroff|Anil Kapoor|Dimple...,Ram Lakhan,Action|Drama|Musical,['Subhash Ghai']
2,Sridevi|Sunny Deol|Rajinikanth|Anupam Kher|Sha...,Chaalbaaz,Action|Comedy|Drama,['Pankaj Parashar']
3,Dharmendra|Vinod Khanna|Dimple Kapadia|Poonam ...,Batwara,Action|Drama,['J.P. Dutta']
4,Jeetendra|Raj Babbar|Anita Raj|Govinda|Sonam|S...,Asmaan Se Ooncha,Action|Drama|Family,['Mehul Kumar']
5,Sunny Deol|Dimple Kapadia|Archana Puran Singh|...,Aag Ka Gola,Action|Drama,['David Dhawan']

In [785]:
df33.head()

,Title,Director,Cast,Genre
0,Aaj Ka Arjun,K.C. Bokadia,"Amitabh Bachchan, Jayapradha","['Action', 'Crime', 'Drama', 'Action Crime Dra..."
1,Aag Ka Dariya,S.V. Rajendra Singh,"Dilip Kumar, Rekha, Padmini Kolhapure, Amrita ...","['Action', 'Action']"
2,Aag Ka Gola,David Dhawan,"Sunny Deol, Dimple Kapadia, Archana Puran Singh","['Action', 'Drama', 'Action Drama']"
3,Aaj Ke Shahenshah,Shibu Mitra,"Raj Babbar, Jeetendra, Kimi Katkar","['Action', 'Action']"
4,Aandhiyan,David Dhawan,"Shatrughan Sinha, Mumtaz, Prosenjit Chatterjee","['Drama', 'Drama']"

In [786]:
df66=df33.append(ddf34,ignore_index=False)

In [787]:
df66.shape

(4769, 4)

In [788]:
df66.isna().sum()

Title       0
Director    0
Cast        0
Genre       0
dtype: int64

In [789]:
df66.to_csv('cleanedfilm_1950-2020.csv', header=True, index=True)